body{
	font-family: Body, Quicksand, sans-serif;
  font-size: 2em;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  background-color: #e7e5e4;
  letter-spacing: 0.07em;
  text-shadow: 1px -1px 0 #767676;
  margin-top: 10px;
  
  background-image: url('1000_F_621684156_GHCg1koda7y1FKwCZ1WsuwIxk27Sezuh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-image-width: 5000px;
  image-resolution: 1000;

}
  
.heading {
    text-align: center;
    color: rgb(9, 5, 235);
    font-size: 5rem;
}

.table {
    
    margin-left: auto;
    margin-right: auto;
}
container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    border-radius: 10px;
}
.content {
    background-color: #e7e5e4;
    width: 400px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 20px;
}
#submit{
    color: aqua;
    background-color: black;
}
img{
    width: 100%;
}

/* Basic styling for the container */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for the input field */
  #pnrNumber {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #15c3e2;
    border-radius: 5px;
  }
  
  /* Style for the submit button */
  #submit {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 80px;
    cursor: pointer;
  }
  
  /* Hover effect for the submit button */
  #submit:hover {
    background-color: #0056b3;
  }

  /* Style for the result container */
#result {
    margin-top: 20px;
    text-align: center; /* Center the text inside the result container */
  }
  
  
  /* Style for the result text */
  #pnrData,
  #boardingInfo,
  #trainInfo,
  #name,
  #destinationInfo,
  #berth,
  #coach,
  #boarding {
    padding: 10px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    display: inline-block; /* Make the result text display inline-block */
    text-align: left; /* Align text to the left */
  }
  
  
  .logo {
    width: 100px; /* Adjust width as needed */
    display: block; /* Ensure the image is centered */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add some margin from the top */
    
}

  
  /* Style for the result container */
  /* #result {
    margin-top: 20px;
    
    
  } */
  
  /* Style for the result text */
  /* #pnrData,
  #boardingInfo {
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  } */
  
